@import "tailwindcss";

body {
  scroll-behavior: smooth;
}

@theme {
  --color-black: #171717;
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

* {
  @apply font-poppins;
}

@layer components {
  #header {
    ul {
      @apply transition-transform delay-200 ease-linear  fixed lg:static top-[10vh] left-0 right-0 bg-black py-4 pb-6 px-4 text-white font-semibold flex flex-col lg:flex-row gap-3 rounded-b-2xl z-10 border-1 lg:border-0 border-white/20 lg:bg-transparent;
    }
  }
  #industry-verticals {
    @apply bg-black text-white p-4 lg:px-[7rem] py-10 lg:py-14 xl:py-16;
  }
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.radial-blur{
  background:radial-gradient(55% 55% at 85% 74%, rgb(35, 52, 40) 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(40% 40% at -6% 50%, rgb(46, 62, 74) 0px, rgba(255, 0, 0, 0) 99%), radial-gradient(65% 37% at 124% 25%, rgb(68, 50, 53) 0px, rgba(243, 243, 243, 0) 77%), radial-gradient(82% 40% at 33% 82%, rgb(48, 45, 45) 0px, rgba(255, 255, 255, 0) 100%), radial-gradient(75% 75% at 25% 25%, rgb(57, 42, 45) 0px, rgb(0, 0, 0) 100%)
}

.scroller__inner {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.3rem;
  animation: scroll 40s linear infinite;
}
.scroller__outer {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.3rem;
  animation: scrollback 40s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollback {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.usecase_scroller {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.3rem;
  width: max-content;
  animation: scroll2 40s linear infinite;
}

.usecase_scroller_back{
  display: flex;
  flex-wrap: nowrap;
  gap: 1.3rem;
  width: max-content;
  animation: scroll2back 40s linear infinite;
}
@keyframes scroll2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scroll2back {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.usecase_scroller:hover{
  animation-play-state: paused;
}
.usecase_scroller_back:hover{
  animation-play-state: paused;
}


.avataranimate{
  animation: avatarup 0.7s ease-in;
}

@keyframes avatarup{
  from{
    opacity: 0;
    transform: translateY(10%);
  }
  to{
    opacity: 1;
    transform: translateY(0);;
  }
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.embla {
  overflow: hidden;
  cursor: grab;
}
.embla:active {
  cursor: grabbing;
}
.embla__container {
  display: flex;
  gap: 1.25rem;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.embla__slide {
  flex: 0 0 33rem; 
  min-width: 0;
  position: relative;
}